<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addData" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Enter your Name" name="name"><br>
        <input type="text" placeholder="Enter Your City" name="city"><br>
        <input type="file" placeholder="IMG" name="image">
        <button type="submit">submit</button>

    </form>
</body>
</html>