<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="py-5">
        <div class="container">
          <div class="row g-4">
            <div class="col-md-4">
              <div class="card">
                <img src="/images/img1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Feature One</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="#" class="btn btn-outline-primary">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img src="/images/img1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Feature Two</h5>
                  <p class="card-text">Suspendisse potenti. Sed consequat sapien et erat.</p>
                  <a href="#" class="btn btn-outline-primary">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img src="/images/img1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Feature Three</h5>
                  <p class="card-text">Etiam sit amet orci eget eros faucibus tincidunt.</p>
                  <a href="#" class="btn btn-outline-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</body>
</html>